@import 'style/helpers/vars';
@import 'style/helpers/mixins';

.BondsDashboard {

  $root: &;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;

  $orderbook-width: 300px;
  & > :nth-child(1) {
    width: $orderbook-width;
    // height: 1006px;

    & > :nth-child(1) {
      border-radius: 4px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  & > * {
    height: 50%;
  }

  & > :nth-child(2) {
    width: calc(100% - #{$orderbook-width});
    padding-left: 8px;
  }

  padding-bottom: 8px;

  &__orders {
    padding: 27px;
  }
  
  &__user-orders {
    margin: 8px 0;
    background: linear-gradient(197.87deg, #17183A 16.12%, #1E1E47 38.25%, #17183A 66.27%);
  }

  & .OrderbookReworked {
    $orderbook-height: 50vh;
    $orderbook-table-height: calc(#{$orderbook-height} - 176px);

    height: calc(#{$orderbook-table-height} + 135px);
    // height: 50%;

    & tbody {
      // height: calc(25vh + 108px);
      min-height: $orderbook-table-height;
      height:  $orderbook-table-height;
      max-height:  $orderbook-table-height;
    }
  }
  
  & .heading-val {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: -5px;

    & img {
      width: 20px;
      height: 20px;
      padding-right: 3px;
    }
  }

  @media screen and (max-width: 668px) {
    flex-direction: column;
    flex-wrap: nowrap;

    & > :nth-child(1) {
      height: auto;
    }

    & .OrderbookReworked {
      $row-height: 42px;
      $orderbook-height: #{$row-height * 5};
      $orderbook-table-height: calc(#{$orderbook-height} + 0px);

      height: calc(#{$orderbook-height} + 135px);
      // height: 50%;
      & tbody {
        // height: calc(25vh + 108px);
        min-height: $orderbook-table-height;
        height:  $orderbook-table-height;
        max-height:  $orderbook-table-height;
      }
    }

    & tbody {
      width: 100vw;
    }

    & > :nth-child(1) {
      width: 100vw;
    };
    & > :nth-child(2) {
      width: 100%;
      padding: 8px;
    }

    & .ReserveHeading__flex {
      padding: 12px;

      & > :nth-child(4) {
        display: none;
      }
    }
  }
}
