.WavesExchangeChart {
  padding-right: 15px;
  margin-bottom: 15px;

  &__chart-controls-line {
    margin-left: 10px;
  }

  &__chart-interval-picker {
    display: flex;
  }

  &__chart-block-amount-picker {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 28px;
    margin-right: 10px;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    font-family: Montserrat;
    background: linear-gradient(32.9deg, #00ADFF -44.26%, #3E3E79 50%);
    border-radius: 4px;
    border: none;

    &:focus {
      outline: none;
    }

    &_selected {
      border: solid #3e3e79 1px;
      background: #17193b;

      &:hover {
        color: #fff;
      }
    }
  }

}
