@import '../../../style/helpers/vars';

.NavTabsView {
  $root: &;
  $tab-item-height: 36px;

  &_full-width-tabs {
    #{$root}__list {
      &::after {
        display: none;
      }
    }

    #{$root}__item {
      flex-grow: 1;

      &_active {
        &:last-child {
          border-right: none;
        }
      }
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-end;

    &::after {
      content: '';
      flex-grow: 1;
      height: 1px;
      background-color: #4a4a7f;
    }
  }

  &__item {
    height: $tab-item-height;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    min-width: 164px;
    border-bottom: 1px solid #4a4a7f;

    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    position: relative;

    &_active {
      border: 1px solid #4a4a7f;
      border-bottom: none;
      font-weight: 700;

      &:first-child {
        border-left: none;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -1px;
        width: calc(100% + 2px);
        height: 3px;
        background-color: $color-brand-azure;
      }
    }
  }

  &__content {
    padding-top: 16px;
    padding-bottom: 18px;
    // height: calc(100% - #{$tab-item-height});
  }
}
