
@import 'style/helpers/vars';
@import 'style/helpers/mixins';

.MutateStakingShareModal {
    max-width: 803px;
    width: 100%;
    max-height: 558px;
    height: 100vh;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: calc(50% - 120px);
    transform: translate(-50%, -50%);
    background-color: $color-brand-purple;
    border: 1px solid $color-brand-purple-light;

    &__title {
        font-size: 1em;
        padding-bottom: 48px;
        display: block;
        text-align: center;
    }

    &__body {
        width: 100%;
        max-width: 600px;
        height: 100%;
        margin: auto;
        padding-top: 66px;
    }

    &__balances {
        background-color: $color-brand-purple-lt-alt;
        padding: 51px 115px;
        margin: 0px -100px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        & > * {
            width: 250px;
            height: 28px;
        }

        & > span {
            font-style: normal;
            font-weight: normal;
            font-size: .77em;
            line-height: 17px;
        }
    }

    &__percents {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        max-width: 49%;
        padding: 48px 0 18px 0;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &_decrease button {
            background-image: none;

            &:not(:hover) {
                background-color:  $color-brand-purple-lt-alt !important;
            }
        }

        & > * {
            width: 49%;
        }
    }

    @media screen and (max-width: 768px) {
        max-width: calc(100vw - 16px);
        left: 50%;

        &__body {
            max-width: calc(100vw - 16px);
        }

        &__percents {
            margin: auto;
            padding: 32px 16px;
            width: 100%;
            max-width: unset;
        }

        &__balances {
            margin: 0;
            padding: 42px 0 48px;
        }

        &__buttons {
            flex-wrap: wrap;
            padding: 18px;

            & > :not(:last-child) {
                margin-bottom: 18px;
            }

            & > * {
                width: 100%;
            }
        }
    }
}