

.ExpectedValueSpan {
    position: absolute;
    top: 35px;
    right: 15px;
    color: #00F59E;
    display: block;
    width: 150px;
    text-align: right;

    & > :nth-child(1) {
      padding-right: 4px;
      color: #fff;
    }

    & > :nth-child(2) {
      font-size: 1.2em;
      font-weight: bold;
    }
}