


.OrderProvider {
    background: linear-gradient(205.7deg, #17183A 16.12%, #1E1E47 38.25%, #17183A 66.27%);
    border-radius: 4px;
    // padding: 15px 32px 34px;
    padding: 0 32px 34px;
    margin-top: 8px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;

    & .buy, & .liquidate {
        margin: 0 8px;
        margin-top: 15px;
    
        & > :nth-child(1) {
            position: relative;
        }
    }

    & .price {
        & > :nth-child(1) {
            background: unset;
            & input {
                border: 1px solid #4A4A7F;

            }
            
        }
    }

    & .buy-form, & .liquidate-form {
        width: 300px;

        & > :nth-child(1) {
            padding-top: 18px;
        }


        & > .BaseInput__main {
            margin: 16px 0;
        }

        & > .BaseInput__main:last-of-type {
            margin-top: 32px;
        }

        & button {
            width: 100%;
        }
    }

    & .percents {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 14px 0;
        justify-content: space-between;

        & > * {
            width: 46px;
            text-align: center;
            padding: 4px 11px;
        }
    }


    & .ExpectedValueSpan {
        top: 26px;
    }

    @media screen and (max-width: 668px) {
        padding: 32px;
    }
}

.OrderProviderTab {
    
    & > :nth-child(1) {
        display: block;
        margin: 12px auto;
    }
}