@import 'style/helpers/vars';
@import 'style/helpers/mixins';

.AuctionDiscount {
    $yellow-col: yellow;
    $purple-col: magenta;
    font-size: 24px;
    line-height: 1.2;

    &__y-title {
        color: $yellow-col;
        font-size: 1em;

        &_get-usdn {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;

            & > :nth-child(2) {
                padding-left: 8px;
            }
        }
    }

    &__w-title {
        color: #fff;
        font-size: 1em;
    }

    &__p-title {
        color: $purple-col;
        font-size: 2em;
    }

    &__f-grid {
        display: flex;
        flex-direction: row;
        padding: 16px;
        font-weight: bold;
        padding-bottom: 0;

        & > * {
            width: 50%;
        }
        // & > :nth-child(1) {}
        & > :nth-child(2) {
            align-self: center;
            text-align: right;
        }
    }

    &__s-grid {
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: right;
        padding: 16px;
        padding-top: 0;
        font-weight: bold;

        & > * {
            width: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        padding: 16px;
    }
}