@import '../../style/helpers/vars';
@import '../../style/helpers/mixins';

.IndexSlider {
  width: 100%;
  margin: 0 auto;

  &__title {
    margin: 0 0 70px;
    text-align: center;
    > span {
      &:first-child {
        font-weight: 200;
        font-size: 30px;
        line-height: 32px;
      }
      &:last-child {
        font-size: 20px;
        font-weight: 500;
        line-height: 40px;
      }
    }
  }

  &__slider {
    padding-bottom: 140px;
  }

  &__slide {
    display: flex !important;
    justify-content: center;

    &:focus {
      outline: none;
    }
  }

  &__slide-inner {

    &_center {
      align-items: center;
    }

    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    &:focus {
      outline: none;
    }
  }

  &__slide-sub-title {
    width: 100%;
    margin-bottom: 65px;
    font-weight: 200;
    font-size: 15px;
    line-height: 18px;
    padding: 10px 0;
    border-top: 1px solid #2B2E5A;
    border-bottom: 1px solid #2B2E5A;
  }

  &__slide-title {
    font-size: 20px;
    line-height: 22px;
    margin: 0 0 30px;
  }

  &__slide-text {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
  }

  .slick-dots {
    bottom: -115px;

    button {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid $color-brand-purple-light;

      &:hover {
        background-color: $color-brand-azure;
        border: none;
      }

      &::before {
        display: none;
      }
    }

    .slick-active {
      button {
        border: none;
        background: linear-gradient(43.21deg, #6121A1 18.12%, #00AEFF 101.23%);
      }
    }
  }

  @media screen and (max-width: 768px) {
    &__slider {
      padding-bottom: 250px;
    }

    .slick-dots {
      bottom: -115px;
    }
  }
}
