@import '../../style/helpers/mixins';
$icons-dir: '../static/icons';

.Icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 16px;
  min-height: 16px;

  &__arrow-up {
    min-width: 10px;
    min-height: 7px;
    background-image: url('#{$icons-dir}/arrow-up.svg');
  }

  &__arrow-right {
    min-width: 10px;
    min-height: 12px;
    background-image: url('#{$icons-dir}/arrow-right.svg');
  }

  &__arrow-right-2 {
    min-width: 11px;
    min-height: 10px;
    background-image: url('#{$icons-dir}/arrow-right-2.svg');
  }


  &__waves-keeper {
    min-width: 174px;
    min-height: 24px;
    background-image: url('#{$icons-dir}/waves-keeper.svg');
  }

  &__logout {
    min-width: 15px;
    min-height: 15px;
    background-image: url('#{$icons-dir}/logout.svg');
  }

  &__point-in-circle {
    min-width: 13px;
    min-height: 13px;

    &_green {
      background-image: url('#{$icons-dir}/point-in-circle_green.svg');
    }
  }

  &__usd-n-1 {
    &_big {
      width: 32px;
      height: 32px;
      background-image: url('#{$icons-dir}/usd-n-1_big.svg');

      @include icon-hover {
        background-image: url('#{$icons-dir}/usd-n-1_big_green.svg');
      }
    }

    &_big_green {
      width: 32px;
      height: 32px;

      background-image: url('#{$icons-dir}/usd-n-1_big_green.svg');
    }
  }

  &__eur-n {
    &_big {
      width: 32px;
      height: 32px;
      background-image: url('#{$icons-dir}/eur-n_big.svg');

      @include icon-hover {
        background-image: url('#{$icons-dir}/eur-n_big_green.svg');
      }
    }

    &_big_green {
      width: 32px;
      height: 32px;

      background-image: url('#{$icons-dir}/eur-n_big_green.svg');
    }
  }

  &__btc-n {
    &_big {
      width: 32px;
      height: 32px;
      background-image: url('#{$icons-dir}/btc-n_big.svg');

      @include icon-hover {
        background-image: url('#{$icons-dir}/btc-n_big_green.svg');
      }
    }

    &_big_green {
      width: 32px;
      height: 32px;

      background-image: url('#{$icons-dir}/btc-n_big_green.svg');
    }
  }

  &__home {
    min-width: 16px;
    min-height: 16px;
    background-image: url('#{$icons-dir}/home.svg');
  }

  &__learn {
    min-width: 16px;
    min-height: 13px;
    background-image: url('#{$icons-dir}/learn.svg');
  }

  &__wave {
    min-width: 18px;
    min-height: 18px;
    background-image: url('#{$icons-dir}/wave.svg');
  }

  &__usd-n-2 {
    &_green {
      min-width: 18px;
      min-height: 18px;
      background-image: url('#{$icons-dir}/usd-n-2_green.svg');
    }
  }

  &__usd-nb {
    &_green {
      min-width: 18px;
      min-height: 18px;
      background-image: url('#{$icons-dir}/usd-nb_green.svg');
    }
  }

  &__double-arrow-up {
    min-width: 14px;
    min-height: 14px;
    background-image: url('#{$icons-dir}/double-arrow-up.svg');
  }

  &__double-arrow-down {
    min-width: 14px;
    min-height: 14px;
    background-image: url('#{$icons-dir}/double-arrow-down.svg');
  }

  &__trade {
    min-width: 19px;
    min-height: 13px;
    background-image: url('#{$icons-dir}/trade.svg');
  }

  &__exchange {
    min-width: 13px;
    min-height: 15px;
    background-image: url('#{$icons-dir}/exchange.svg');
  }

  &__question {
    min-width: 6px;
    min-height: 10px;
    background-image: url('#{$icons-dir}/question.svg');
  }

  &__cancel {
    min-width: 11px;
    min-height: 10px;
    background-image: url('#{$icons-dir}/cancel.svg');
  }

  &__search {
    min-width: 11px;
    min-height: 11px;
    background-image: url('#{$icons-dir}/search.svg');
  }

  &__checkbox {
    min-width: 11px;
    min-height: 10px;
    background-image: url('#{$icons-dir}/checkbox.svg');
  }
}
