@import '../../style/helpers/mixins';
$icons-dir: '../static/icons';

.Icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 16px;
  min-height: 16px;

  &__arrow-up {
    min-width: 10px;
    min-height: 7px;
    background-image: url('#{$icons-dir}/arrow-up.svg');
  }

  &__arrow-right {
    min-width: 10px;
    min-height: 12px;
    background-image: url('#{$icons-dir}/arrow-right.svg');
  }
}
