@import 'style/helpers/vars';
@import 'style/helpers/mixins';

.CheckboxFieldView {
  $root: &;
  $item-checkbox: #{&}__input;

  display: inline-block;

  &_disabled {
    #{$root}__inner {
      background-color: $color-gg-4;
      color: $color-gg-4;

      &:hover {
        cursor: not-allowed;
        opacity: 1;
      }
    }
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
  }

  &__label {
    display: block;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__inner {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    max-height: 17px;
    background-color: $color-brand-blue;
    box-sizing: border-box;
    margin-right: 11px;
    border: 1px solid transparent;

    &:hover {
      opacity: 0.3;
    }

    &_isInvalid {
      border-color: $color-brand-red;
      color: $color-brand-red;
    }

    &:disabled {
    background-color: $color-gg-10;
    color: $color-gg-4;

      &:hover {
        cursor: not-allowed;
      }
    }
  }

  &__icon {
    display: none !important;
  }

  #{$item-checkbox}:checked ~ &__container &__inner &__icon {
    display: block !important;
  }

  &__text {
    font-family: $ff-montserrat;
    font-size: 10px;
    line-height: 12px;
    color: $fc-gray;
  }
}
