@import 'style/helpers/vars';

.ModalView {

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: $zi-popup;
  }

  &__modal {
    max-width: 803px;
    width: 90%;
    background: $color-brand-purple;
    border: 1px solid $color-brand-purple-light;
    outline: none;
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 50px;
    height: 50px;

    &:hover::before,
    &:hover::after {
      background-color: #333;
    }

    &::before,
    &::after
    {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -8px;
      left: 50%;
      width: 1px;
      height: 16px;
      background-color: $color-brand-blue;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 70px 0px;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
  }
}

//fade
.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}