@import 'vars';

// Clearfix
@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

// Media Query Sizes
@mixin phone {
  @media screen and (max-width: #{$mqw-tablet - 1px}) {
    @content;
  }
}

@mixin phone-horizontal {
  @media screen and (min-width: 576px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$mqw-tablet}) {
    @content;
  }
}

@mixin tablet-down {
  @media screen and (max-width: #{$mqw-desktop - 1px}) {
    @content;
  }
}

@mixin only-tablet {
  @media screen and (min-width: #{$mqw-tablet}) and (max-width: #{$mqw-desktop - 1px}) {
    @content;
  }
}

@mixin tablet-horizontal {
  @media screen and (min-width: 991px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$mqw-desktop}) {
    @content;
  }
}

@mixin desktop-mid {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin sitewidth {
  @media screen and (min-width: #{$mqw-wrapper}) {
    @content;
  }
}

@mixin icon-hover {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-repeat: no-repeat;
    background-position: center;
    @content;
  }

  &:hover::before {
    @include tablet {
      opacity: 1;
    }
  }
}

@mixin gradient-bg($deg) {
  background: linear-gradient($deg, #17183A 16.12%, #1E1E47 38.25%, #17183A 66.27%);
}

@mixin scrollbar() {
  &::-webkit-scrollbar {
    width: $width-scroll;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-layout-bg;
    border: 1px solid $color-brand-azure;
  }
}


@mixin prevent-text-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}