// Color Scheme
// Color Scheme - Brand
$color-layout-bg          : #11122f;
$color-base               : #fff;
$color-base-revert        : #000;
$color-brand-purple       : #17183a;
$color-brand-purple-light : #494991;
$color-brand-purple-lt-alt : #4A4A7F;
$color-brand-green        : #00f59e;
$color-brand-blue         : #08a3f8;
$color-brand-azure        : #00f5ff;
$color-brand-red          : #ff5c5c;
$color-brand-lt-green: #23FFA6;
$color-dark-button: #35356F;
$color-violet: #6121A1;
$color-ocean: #00ADFF;
$color-green: #008B61;

// Color Scheme - Gray Gradation
$color-gg-1 : #333;
$color-gg-2 : #5b6268;
$color-gg-3 : #97a0a7;
$color-gg-4 : #adb2ba;
$color-gg-5 : #e3e4e6;
$color-gg-6 : #f5f6f7;
$color-gg-7 : #fafafa;
$color-gg-8: #f4f4f4;
$color-gg-9: #cacbcc;
$color-gg-10: #fafbfc;
$color-gg-11: #97a0a7;
$color-gg-12: #d9d9d9;


// Font Color
$fc-main: #fff;
$fc-gray: #cbcbda;

// Opacity
$hover-opacity: 0.7;
$disabled-opacity: 0.4;

// Media Query Width
$mqw-mobile  : 320px;
$mqw-tablet  : 768px;
$mqw-desktop : 1024px;
$mqw-wrapper : 1200px;

// Font Family
$ff-roboto : 'Roboto', sans-serif;
$ff-montserrat: 'Montserrat', sans-serif;

// Z-index
$zi-sticky: 80;
$zi-header: 90;
$zi-popup: 100;
$zi-modal: 110;

// Grid Sized
$grid-size           : 1104px;
$grid-offset-mobile  : 20px;
$grid-offset-tablet  : 48px;
$grid-offset-desktop : 48px;

// Width Table Cell
$width-scroll: 5px;
$width-num: 60px;
$width-favorites: 60px;
$width-site: 150px;
$width-mining: 180px;
$width-payouts: 180px;
$width-leasing: 260px;


// background-image styles
$main-gradient: linear-gradient(264.83deg, rgb(23, 24, 58) 16.12%, rgb(30, 30, 71) 38.25%, rgb(23, 24, 58) 66.27%);
$green-button-gradient:  linear-gradient(4.75deg, #00F59E 18.12%, #{$color-green} 101.23%);

// Button linear gradients
$primary-gradient: linear-gradient(16.03deg, #{$color-violet} 18.12%, #00AEFF 101.23%);
$secondary-gradient: linear-gradient(1.04deg, #{$color-ocean} -339.25%, #3E3E79 36.53%);
$danger-gradient: linear-gradient(6.59deg, #{$color-violet} 18.12%, #{$color-brand-red} 101.23%);
$success-gradient: linear-gradient(6.65deg, #{$color-brand-green} 18.12%, #{$color-green} 101.23%);

// NEON

$base-neon: 0 0 2px rgba(202,228,225,0.92), 0 0 2px rgba(0, 245, 255,0.34), 
            0 0 4px rgba(0, 245, 255,0.52), inset 0 0 7px rgba(0, 245, 255,0.92), 
            0 0 3px rgba(0, 245, 255,0.78), 0 0 11px rgba(0, 245, 255,0.92);

// $primary-neon: constructNeon($primary-gradient);
// $secondary-neon: constructNeon($secondary-gradient);
// $danger-neon: constructNeon($danger-gradient);
// $success-neon: constructNeon($success-gradient);