// Color Scheme
// Color Scheme - Brand
$color-layout-bg          : #11122f;
$color-base               : #fff;
$color-base-revert        : #000;
$color-brand-purple       : #17183a;
$color-brand-purple-light : #494991;
$color-brand-green        : #00f59e;
$color-brand-blue         : #08a3f8;
$color-brand-azure        : #00f5ff;
$color-brand-red          : #ff5c5c;

// Color Scheme - Gray Gradation
$color-gg-1 : #333;
$color-gg-2 : #5b6268;
$color-gg-3 : #97a0a7;
$color-gg-4 : #adb2ba;
$color-gg-5 : #e3e4e6;
$color-gg-6 : #f5f6f7;
$color-gg-7 : #fafafa;
$color-gg-8: #f4f4f4;
$color-gg-9: #cacbcc;
$color-gg-10: #fafbfc;
$color-gg-11: #97a0a7;
$color-gg-12: #d9d9d9;


// Font Color
$fc-main: #fff;
$fc-gray: #cbcbda;

// Opacity
$hover-opacity: 0.7;
$disabled-opacity: 0.4;

// Media Query Width
$mqw-mobile  : 320px;
$mqw-tablet  : 768px;
$mqw-desktop : 1024px;
$mqw-wrapper : 1200px;

// Font Family
$ff-roboto : 'Roboto', sans-serif;
$ff-montserrat: 'Montserrat', sans-serif;

// Z-index
$zi-sticky: 80;
$zi-header: 90;
$zi-popup: 100;
$zi-modal: 110;

// Grid Sized
$grid-size           : 1104px;
$grid-offset-mobile  : 20px;
$grid-offset-tablet  : 48px;
$grid-offset-desktop : 48px;

// Width Table Cell
$width-scroll: 5px;
$width-num: 60px;
$width-favorites: 60px;
$width-site: 150px;
$width-mining: 180px;
$width-payouts: 180px;
$width-leasing: 260px;


// background-image
$main-gradient: linear-gradient(264.83deg, rgb(23, 24, 58) 16.12%, rgb(30, 30, 71) 38.25%, rgb(23, 24, 58) 66.27%);