// Helpers
@import './helpers/vars';
@import './helpers/mixins';
@import './helpers/grid';

// Base
@import './base/typography';
@import './base/icons';
@import './base/overall';
@import 'slick.scss';

body {
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MaterialIcon, .material-icons {
    position: relative;
    top: 4px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 112.5%;
    line-height: 10px;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.tos-link {
    padding: 12px 0;
    font-style: normal;
    font-weight: 300;
    font-size: .41em;
    line-height: 24px;
    text-align: center;

    & a {
        color: #000000;

        &:hover {
            text-decoration: underline;
        }
    }
}

.hidden {
    display: none;
}

.blue-gradient {
    background: linear-gradient(6.59deg, #6121A1 18.12%, #00AEFF 101.23%);
}
.red-gradient {
    background: linear-gradient(6.59deg, #6121A1 18.12%, #FF5C5C 101.23%);
}