
.TransferModal {

  $root: &;

  &_is-success {
    #{$root}__inner {
      background-color: #353569;
      // padding: 84px 130px 105px;
    }
  }

  &_is-success {
    #{$root}__header {
      top: 24px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #353569;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
  }

  &__inner {
    width: 100%;
    // padding: 125px 130px 105px;
    max-width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & button {
      width: 100%;
      min-width: unset;
      max-width: 260px;
    }
  }

  &__form,
  &__success {
    width: 100%;
    padding: 32px;
    height: calc(100% - 120px);

    &_d-none {
      display: none;
    }
  }

  .ModalView__content {
    padding: 0;
  }

  // @media screen and (max-width: 768px) {
  //   &__inner {
  //     padding: 20px;
  //     max-width: 80vw;
  //   }
  // }
}
