
@import 'style/helpers/vars';
@import 'style/helpers/mixins';

.UserCongratsModal {

    &__main {
        width: 803px;
        height: 558px;
    }

    &__title {
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: #00F5FF;
    }
}

