@import '../../../style/helpers/vars';
@import '../../../style/helpers/mixins';

.DropDownFieldView {
  position: relative;

  font-size: 13px;
  line-height: 16px;

  &__selected-items {
    padding: 5px;
    min-width: 200px;
    min-height: 37px;
    cursor: pointer;
    background: linear-gradient(1.04deg, #00ADFF -339.25%, #3E3E79 36.53%);
    border-radius: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    justify-content: center;

    &_reset {
      padding-right: 3rem;
    }

    &_is-invalid {
      //border-color: $danger;
    }
  }

  &__selected-item {
    display: flex;
    align-items: center;
  }

  &__arrow {
    position: relative;
    top: 1px;
    transition: all ease 0.2s;

    &_down {
      transform: rotate(180deg);
    }
  }

  &__reset {
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
    width: 30px;
    height: 100%;
    cursor: pointer;

    &::before,
    &::after
    {
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -5px;
      left: 50%;
      width: 1px;
      height: 10px;
      background-color: $color-gg-1;
      content: '';
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__drop-down {
    position: absolute;
    top: calc(100% + 20px);
    left: 0;
    padding: 10px 0;
    width: 100%;
    z-index: $zi-popup;
    background-color: $color-brand-purple;
    border: 1px solid $color-brand-purple-light;
    border-radius: 18px;
  }

  &__drop-down-list {
    max-height: 273px;
    overflow: auto;
  }

  &__search {
    padding: 0.3rem 0.6rem;

    > .form-control {
      width: 100%;
    }
  }

  &__drop-down-item {
    padding: 7px 24px;
    cursor: pointer;
    display: flex;
    align-items: center;

    &_hover {
      color: $color-brand-azure;
    }

    &_select {
      color: $color-brand-azure;
    }
  }

  &__item-icon {
    margin-right: 6px;
  }
}
