@import '../../../style/helpers/vars';

.OrderBook {
  $root: &;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__title {
    font-size: 14px;
    line-height: 17px;
    padding: 24px 40px 20px;
  }

  &__header-row {
    padding: 0 20px;
    border-top: 1px solid #343869;
    border-bottom: 1px solid #343869;
    display: flex;
    align-items: center;
  }

  &__header-column {
    padding: 12px 5px;
    width: 33%;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    text-align: center;

    &_upper-case {
      text-transform: uppercase;
    }
  }

  &__body-row {
    position: relative;
    padding: 0 10px;
    display: flex;
    align-items: center;

    &_my::after {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      left: 25px;
      width: 8px;
      height: 8px;
      margin-top: -4px;
      background: url(../../../static/icons/order-my-arrow.svg);
    }
  }

  &__body-column {
    position: relative;
    padding: 12px 5px;
    width: 33%;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    text-align: center;

    &_bg {
      background-color: #26274F;
    }
  }

  &__sum-row {
    padding: 14px 5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: $color-brand-green;
    text-align: center;

  }

  &__columns {
    border-top: 1px solid #343869;
    border-bottom: 1px solid #343869;
    overflow: auto;
    margin-bottom: 20px;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #11122F;
      border: 1px solid #00F5FF;
    }
  }

}
