@import '../../style/helpers/vars';
@import '../../style/helpers/mixins';

.LeadingDashboard {
  $root: &;

  &__leasing-table {
    position: relative;
    background: linear-gradient(201.02deg, #17183A 16.12%, #1E1E47 38.25%, #17183A 66.27%);
    border-radius: 4px;
  }
}
