@import '../../style/helpers/vars';
@import '../../style/helpers/mixins';

.LeadingDashboard {
  $root: &;

  & {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__leasing-table {
    position: relative;
    width: 100%;
    background: linear-gradient(201.02deg, #17183A 16.12%, #1E1E47 38.25%, #17183A 66.27%);
    border-radius: 4px;
    margin-bottom: 10px;
  }

  &__leasing-chart {
    width: calc((100% - 10px) / 2);
    background: linear-gradient(204.23deg, #17183A 16.12%, #1E1E47 38.25%, #17183A 66.27%);
    border-radius: 4px;
    margin-right: 10px;
    padding: 15px 20px;
  }

  &__leasing-form {
    width: calc((100% - 10px) / 2);
    background: linear-gradient(204.23deg, #17183A 16.12%, #1E1E47 38.25%, #17183A 66.27%);
    border-radius: 4px;
  }
}
