
@import 'style/helpers/vars';
@import 'style/helpers/mixins';

.LandingFooter {

    &__soc-links {
        padding: 24px 0;
        margin: auto;
        display: flex;
        flex-direction: row;
        width: 250px;
        justify-content: space-between;

        & > * {
            &:hover {
                opacity: .8;
            }
        }

        @media screen and (max-width: 768px) {
            margin-left: 20px;
        }
    }

    &__powered-by-waves {
        width: 115px;
        margin: auto;
        padding: 34px 0;
    }
}

