@import '../../style/helpers/vars';
@import '../../style/helpers/mixins';

.Header {
  padding: 14px 38px;

  display: flex;
  align-items: center;

  &__logo {
    margin-right: 48px;

    @media screen and (max-width: 768px) {
      margin-right: 10px;
    }
  }

  &__section-toggle {
    margin-right: 17px;
  }

  &__auth-button {
    margin-right: 17px;
    width: 200px;
    background: linear-gradient(1.04deg, #00ADFF -339.25%, #3E3E79 36.53%);
  }
}
