@import 'style/helpers/vars';
@import 'style/helpers/mixins';

.BoundsDashboard {

  $root: &;

  display: flex;
  height: 100%;
  width: 100%;

  &__column {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;

    &_left {
      @include gradient-bg(242.47deg);
      margin-right: 8px;
      min-width: 337px;
      width: 100%;

      display: flex;
      flex-direction: column;
    }

    &_right {
      display: flex;
      flex-direction: column;
      @include gradient-bg(222.77deg);

      min-width: calc(100vw - 735px);
      width: 100%;
    }
  }

  &__order-book {
    flex-grow: 1;
    height: calc(100% - 360px);
    padding-bottom: 20px;
  }
  &__forms {
    height: 360px;
  }

  &__orders {
    height: 360px;
    padding-bottom: 18px;
  }

  &__orders-nav {
    height: 100%;

    & > :first-child {
      overflow-x: auto;
    }
  }

  &__graph {
    flex-grow: 1;
    height: calc(100% - 360px);
    min-height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__graph-title {
    font-size: 14px;
    line-height: 17px;
    padding: 24px 40px 20px;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__danger-tab {
    color: $color-brand-red;
  }


  @media screen and (max-width: 1024px) {
    flex-direction: column;
    flex-grow: unset;
  }
}
