@import 'style/helpers/vars';
@import 'style/helpers/mixins';

.BoundsDashboard {

  $root: &;

  display: flex;
  height: 100%;

  &__column {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;

    &_left {
      @include gradient-bg(242.47deg);
      margin-right: 8px;
      width: 337px;

      display: flex;
      flex-direction: column;
    }

    &_right {
      width: 100%;
      @include gradient-bg(222.77deg)
    }
  }

  &__order-book {
    flex-grow: 1;
    height: calc(100% - 340px);
  }
  &__forms {
    height: 360px;
    padding-bottom: 18px;
  }
  &__graph {
    max-height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__danger-tab {
    color: $color-brand-red;
  }

}
