@import 'style/helpers/vars';
@import 'style/helpers/mixins';


.ChecksList {

  $root: &;

  height: 562px;
  overflow: auto;
  @include scrollbar;

  margin-top: 20px;
  margin-right: -38px;
  padding-right: 30px;

  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-height: 200px;
    color: $fc-gray;
  }

}
