
@import 'style/helpers/vars';
@import 'style/helpers/mixins';

.PercentButton {
    &__main {
        font-weight: 500;
        font-size: 10px;
        line-height: 16px;
        border: 1px solid #3E3E79;
        box-sizing: border-box;
        border-radius: 4px;
        width: max-content;
        padding: 4px 20px;
        cursor: pointer;

        &:hover {
            opacity: .75;
        }
    }
}

