@import '../../style/helpers/mixins';
@import '../../style/helpers/vars';

.Layout {
  $root: &;
  $gap: 8px;
  $left-width: 64px;
  $right-width: 316px;
  $header-height: 65px;

  background-color: $color-layout-bg;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &_is-show-left-sidebar {
    #{$root}__center {
      width: calc(100% - #{$left-width} - #{$right-width} - #{$gap * 2});
    }
  }

  &__inner {
    flex-grow: 1;
    display: flex;
  }

  &__center {
    width: calc(100% - #{$right-width} - #{$gap});
    display: flex;
    flex-direction: column;
  }

  &__header {
    margin-bottom: $gap;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    @include gradient-bg(182.99deg);
    min-height: 65px;
  }

  &__content {
    flex-grow: 1;
    width: 100%;
    height: 100%;
  }

  &__left {
    width: $left-width;
    min-width: $left-width;
    margin-right: $gap;
    @include gradient-bg(264.83deg);
  }

  &__right {
    width: $right-width;
    min-width: $right-width;
    margin-left: $gap;
    @include gradient-bg(242.05deg);
  }
}
