
@import 'style/helpers/vars';
@import 'style/helpers/mixins';

.LanguageDropdown {
    $li-pd: 24px;



    &__main {
        background-color: rgb(41, 32, 95);
        border: 2px solid rgb(14, 8, 66);
        font-size: 18px;
        font-weight: 600;
        z-index: 20;

        & img {
            display: none;
        }

        & > :first-child {
            padding: $li-pd;
            display: flex;
            flex-direction: column;
            overflow: auto;

            & > * {
                &:not(:first-child) {
                    padding-top: $li-pd;
                }

                &:first-child {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                }
            }
        }
    }

    &__dp-icon {
        margin-left: 18px;
        transition: transform .2s linear;

        &_opened {
            transform: rotate(180deg);
        }
    }
}

