@import 'style/helpers/vars';
@import 'style/helpers/mixins';

.ReserveHeading {
    

    &__flex {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background: #26274F;
        padding: 10px 51px;
        justify-content: space-between;
        border-radius: 4px;

        & > * {
            padding: 4px;
            padding-bottom: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            & > :nth-child(2) {
                padding: 0 4px;
            }
            
        }
    }
}