@import 'style/helpers/vars';

.BuyBondsForm {

  $root: &;

  padding: 0 18px;

  &__input {
    margin-bottom: 15px;

    &_with-hint {
      margin-bottom: 0;
    }

    :last-child {
      margin-bottom: 0;
    }
  }

  &__submit-button {
    margin-top: 24px;
  }

  &__form {
    position: relative;
  }

  &__percent-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 16px;
    justify-content: space-between;

    & > * {
      padding: 4px 16px;
    }
  }
}
