
@import 'style/helpers/vars';
@import 'style/helpers/mixins';

.StakingLanding {
    $hd-col: #FF4F0F;
    $bd-col: #E0CDB8;
    
    &__main {
        font-size: 28.8px;
        background: linear-gradient(1deg, #F8F2FD -2.36%, #FFFBED 49.5%, #F4F9FF 84.02%);
        height: 100vh;

        & button {
            cursor: pointer;
        }

        .base-button {
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
            line-height: 21px;
            border: none;
            width: 220px;
            border-radius: 30px;
            padding: 18px 0;
            background-color: #00FFB4;

            &.alt {
                background-color: #fff;
                border: 1px solid rgba(97, 33, 161, 1);
            }
        }
    }

    &__yield-section {
        font-size: 33px;
        line-height: 38px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        &_heading {
            color: $hd-col;
            font-size: 1em;
            line-height: 1em;
            font-weight: 600;
        }

        &_body {
            font-size: .5em;
            line-height: .76em;
            padding: 16px 0;
        }
    }
}

