

// <div class="PayoutCheck" style="
// background-color: rgb(41, 41, 89);
// padding: 8px;
// height: 163px;
// font-size: 14px;
// ">
// <div class="PayoutCheck__body" style="border: 1px solid rgb(23, 24, 58);display: flex;flex-direction: column;text-align: center;height: 100%;">
//    <div style="
//       font-size: .9em;
//       padding: 11.5px 28px;
//       display: flex;
//       flex-direction: row;
//       justify-content: space-between;
//       "><span>Check № 14</span><span>чт.12.yy | 12:12</span></div>
//    <div style="
//       background-color: rgb(23, 24, 58);
//       padding: 7.5px;
//       ">Profit: 0.55</div>
//    <div style="
//       height: 100%;
//       position: relative;
//       "><img src="http://127.0.0.1:8082/images/1a47f38802e68628af91157df3cb3ef2.svg" style="
//       position: absolute;
//       width: 100%;
//       left: 0;
//       top: -19px;
//       opacity: .1;
//       "><button type="button" class="ButtonView ButtonView_color_primary" style="
//       margin: 18px auto;
//       width: 260px;
//       "><span class="ButtonView__label">See transaction</span></button></div>
// </div>
// </div>

.PayoutCheck {
    background-color: rgb(41, 41, 89);
    padding: 8px;
    height: 163px;
    font-size: 14px;

    & a {
        width: 260px;
        background-color: #171839;
        font-weight: 600;
        position: relative;
        padding: 11px 82px;
        border-radius: 50px;
        top: 29px;

        &:visited {
            color: #fff;
        }
    }

    &__body {
        border: 1px solid rgb(23, 24, 58);
        display: flex;
        flex-direction: column;
        text-align: center;height: 100%;
    }

    &__date {
        font-size: .9em;
        padding: 11.5px 28px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__profit {
        background-color: rgb(23, 24, 58);
        padding: 7.5px;
    }

    &__see-tx {
        position: relative;
        width: 100%;

        & > img {
            position: absolute;
            width: 100%;
            left: 0;
            top: -19px;
            opacity: .1;
        }
    }
}