.LeasersPayouts {
  & {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__abs {
    font-size: 12px;
  }

  &__bar {
    position: relative;
    background: #25255B;
    width: 90px;
    height: 27px;
    border-radius: 30px;
    overflow: hidden;
    margin-left: 20px;
  }

  &__progress {
    position: absolute;
    background: #35356F;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 20%;
  }

  &__percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
  }
}
