.LeasingFavorites {

  &__star svg {
    & {
      width: 12px;
      height: 12px;
      fill: transparent;
      cursor: pointer;
    }

    &:hover {
      fill: #00F59E;
    }

    path {
      stroke: #00F59E;
    }
  }
}
