@import 'style/helpers/vars';
@import 'style/helpers/mixins';

.NeutrinoDashboard {
  $root: &;
  $page-padding: 38px;

  height: 100%;
  padding: $page-padding;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  @include gradient-bg(264.83deg);

  &__steps {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-brand-purple-light;
  }

  &__step {
    position: relative;
    display: flex;
    align-items: center;

    margin-right: 42px;

    &:not(:last-child) {
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: -30px;
        transform: translateY(-50%);
        width: 20px;
        height: 1px;
        background-color: $color-brand-purple-light;
      }
    }

    &_active {
      #{$root}__step-count {
        border: none;
        background-color: $color-brand-purple-light;
      }
    }
  }

  &__step-count {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-brand-purple-light;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    margin-right: 12px;
  }

  &__step-label {
    font-size: 14px;
    line-height: 17px;
  }

  &__form {
    padding: 40px 0;
  }

  &__inputs {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
  }

  &__input-label {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 16px;
  }

  &__input {
    min-width: 315px;
  }

  &__input-hint {
    font-size: 10px;
    line-height: 12px;
    color: $fc-gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 11px;
  }

  &__input-hint-icon {
    margin-left: 10px;
  }

  &__exchange-button {
    cursor: pointer;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: linear-gradient(35.9deg, #6121A1 17.62%, #00AEFF 84.9%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 48px;

    &:hover {
      background: $color-brand-blue;
    }
  }

  &__info {
    margin-left: -$page-padding;
    margin-right: -$page-padding;
    margin-bottom: 67px;
    background-color: #292959;
    display: flex;
    align-items: center;
    padding: 28px 0;
    font-size: 13px;
    line-height: 16px;
  }

  &__info-column {
    width: 50%;
    position: relative;
    padding: 0 38px 35px;

    &:first-child {
      border-right: 1px solid #343869;
    }
  }

  &__info-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__info-string {
    display: flex;
    align-items: center;

    &_without-hint {
      padding-left: 30px;
    }
  }

  &__info-hint {
    margin-right: 12px;
  }

  &__submit-button.ButtonView,
  &__withdraw-button.ButtonView {
    min-width: 322px;
  }

  &__submit-button {
    margin-right: 55px;
  }

  &__details {
    margin-bottom: 48px;
  }

  &__details-label {
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 16px;
  }

  &__details-item {
    &:not(:last-child) {
      margin-bottom: 38px;
    }
  }

  &__details-inner {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    border-top: 1px solid $color-brand-purple-light;
    border-bottom: 1px solid $color-brand-purple-light;
    padding: 16px 0;

    &_generation {
      padding: 0;
    }
  }

  &__values {
    width: 50%;
    padding: 16px 0 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-child {
      padding: 16px 32px 16px 0;
      border-right: 1px solid #343869;
    }
  }

  &__value-title {

  }

  &__value-item {
    display: flex;
    align-items: baseline;
    font-weight: 800;
    color: #fff;
  }

  &__value-number {
    font-size: 14px;
    line-height: 17px;
    margin-right: 4px;
  }

  &__value-icon {
    position: relative;
    top: 2px;
    min-width: 12px;
    min-height: 12px;
    margin-right: 4px;
  }

  &__value-name {
    font-size: 10px;
    line-height: 12px;
  }

  &__terms-checkbox {
    margin-bottom: 25px;

    a {
      color: $fc-gray;
      text-decoration: underline;

      &:hover {
        color: $fc-gray;
      }
    }
  }

  &__details-actions,
  &__generate-actions {
    display: flex;
    align-items: center;
  }

  &__back-button {
    margin-right: 12px;
  }

  &__finalize-button.ButtonView {
      min-width: 320px;
  }

  &__withdraw {
    position: relative;

  }

  &__withdraw-hint {
    margin-right: 8px;
  }

  &__withdraw-info {
    position: absolute;
    top: -38px;
    left: 0;
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 16px;
  }
}
