@import 'style/helpers/vars';
@import 'style/helpers/mixins';

.SwapWarningMessage {
  font-weight: bold;
  display: block;
  padding-bottom: 16px;
  line-height: 18px;
}

.NeutrinoDashboard {
  $root: &;
  $page-padding: 38px;

  width: 100%;
  height: 100%;
  padding: $page-padding;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  @include gradient-bg(264.83deg);

  &__steps {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-brand-purple-light;

    @media screen and (max-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: unset;
    }
  }

  &__input-container {
    height: 100px;
  }

  &__step {
    position: relative;
    display: flex;
    align-items: center;

    @media screen and (max-width: 390px) {
      &:not(:first-child) {
        padding-top: 16px;
      }
    }

    &:not(:last-child) {
      margin-right: 42px;

      @media screen and (min-width: 500px) {
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          right: -30px;
          transform: translateY(-50%);
          width: 20px;
          height: 1px;
          background-color: $color-brand-purple-light;
        }
      }
    }

    &_active {
      #{$root}__step-count {
        border: none;
        background-color: $color-brand-purple-light;
      }
    }
  }

  &__step-count {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-brand-purple-light;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    margin-right: 12px;
  }

  &__step-label {
    font-size: 14px;
    line-height: 17px;
  }

  &__form {
    padding: 40px 0;
  }

  &__inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 60px;
  }

  &__input-label {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 16px;
  }

  &__input {
    // min-width: 315px;
    width: calc(100vw - 90px);
    min-width: unset;
    max-width: 315px;
  }

  &__input-hint {
    font-size: 10px;
    line-height: 12px;
    color: $fc-gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 11px;

    &_swap {
      font-weight: bold;
      color: red;
    }
  }

  &__input-hint-icon {
    margin-left: 10px;
  }

  &__exchange-button {
    cursor: pointer;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: linear-gradient(35.9deg, #6121A1 17.62%, #00AEFF 84.9%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 48px;

    &:hover {
      background: $color-brand-blue;
    }
  }

  &__info {
    margin-left: -$page-padding;
    margin-right: -$page-padding;
    margin-bottom: 67px;
    background-color: #292959;
    padding: 28px 0;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    & > :nth-child(2) {
      padding: 0 36px;
    }
  }

  &__info-cols {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__info-column {
    width: 50%;
    position: relative;
    padding: 0 38px 35px;

    &:first-child {
      border-right: 1px solid #343869;
    }
  }

  &__info-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__info-string {
    display: flex;
    align-items: center;

    &_without-hint {
      padding-left: 30px;
    }

    & > :nth-child(2) {
      padding-right: 18px;
    }

    &_with-mobile {
      & > :nth-child(1) {
        display: block;
      }
      & > :nth-child(2) {
        display: none;
      }
    }
  }

  &__info-hint {
    margin-right: 12px;
  }

  &__submit-button.ButtonView,
  &__withdraw-button.ButtonView {
    max-width: 322px;
    width: calc(100vw - 90px);
    min-width: 100px;
  }

  &__submit-button {
    margin-right: 55px;
  }

  &__details {
    margin-bottom: 48px;
  }

  &__details-label {
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 16px;
  }

  &__details-item {
    &:not(:last-child) {
      margin-bottom: 38px;
    }
  }

  &__details-inner {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    border-top: 1px solid $color-brand-purple-light;
    border-bottom: 1px solid $color-brand-purple-light;
    padding: 16px 0;

    &_generation {
      padding: 0;
    }
  }

  &__values {
    width: 50%;
    padding: 16px 0 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-child {
      padding: 16px 16px 16px 0;
      border-right: 1px solid #343869;
    }
  }

  &__value-title {

  }

  &__value-item {
    display: flex;
    align-items: baseline;
    font-weight: 800;
    color: #fff;
  }

  &__value-number {
    font-size: 14px;
    line-height: 17px;
    margin-right: 4px;
  }

  &__value-icon {
    position: relative;
    top: 2px;
    min-width: 12px;
    min-height: 12px;
    margin-right: 4px;
  }

  &__value-name {
    font-size: 10px;
    line-height: 12px;
  }

  &__terms-checkbox {
    margin-bottom: 25px;

    a {
      color: $fc-gray;
      text-decoration: underline;

      &:hover {
        color: $fc-gray;
      }
    }
  }

  &__details-actions,
  &__generate-actions {
    display: flex;
    align-items: center;
  }

  &__back-button {
    margin-right: 12px;
  }

  // &__finalize-button.ButtonView {
  //     min-width: 320px;
  // }

  &__withdraw {
    position: relative;

  }

  &__withdraw-hint {
    margin-right: 8px;
  }

  &__withdraw-info {
    position: absolute;
    top: -38px;
    left: 0;
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 16px;
  }

  @media screen and (max-width: 768px) {
    &__info {
      & > :nth-child(1) {
        display: none;
      }
    }

    &__info-string {
      &_with-mobile {
        & > :nth-child(1) {
          display: none;
        }
        & > :nth-child(2) {
          display: block;
        }
      }
    }
  }

  @media screen and (max-width: 1264px) {
    &__inputs {
      flex-direction: column;
      flex-wrap: wrap;
    }

    &__form {
      display: flex;
      flex-direction: column;
    }

    &__info {
      flex-direction: column;

      & > :nth-child(2) {
        padding: 4px 36px;
      }
    }
    &__info-column {
      width: 100%;
    }
    &__withdraw-info {
      top: 10px;
      left: -28px;
    }
    &__generate-actions {
      flex-direction: column;
      align-items: baseline;

      & > * {
        width: 100%;
        & button {
          width: 100%;
        }
      }
      & > :nth-child(2) {
        margin-top: 12px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    &__details-actions {
      display: flex;
      flex-direction: column;

      & > * {
        width: 100%;
      }
      & > :not(:first-child) {
        padding-top: 16px;
      }

      & button {
        width: 100%;
      }
    }

  }

  &__value-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 8px;
    justify-content: center;

    & > :nth-child(2) {
      padding-bottom: 4px;
      display: flex;
      flex-direction: row;

      & > :nth-child(2) {
        padding-top: 4px;
      }
    }
  }

  &__swap-processing {
    & > :not(:first-child) {
      filter: blur(10px);
    }
  }
}
