
.TransferInvoiceModal {
  $root: &;

  &__inner {
    width: 100%;
    background-color: #353569;
    padding: 125px 130px 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ModalView__content {
    padding: 0;
  }
}
