

.LoginTypeModal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    & a:not(:hover) {
        color: #fff;
    }   

    &__main {
        width: 100%;
        height: 100%;;
        padding: 24px;
        background-color: #17183A;
        border: 1px solid #494991;
    }

    &__list {
        & > :not(:last-child) {
            padding-bottom: 18px;
        }
    }

}